<style>
  .tab {margin-left: 40px;
  }
</style>

<h1>Edit Property <%=@property.name%></h1>
<form action="/properties/<%=@property.id %>" method="post">
	<input type="hidden" name="_method" value="patch">
	<label>Tenant:</label><br>
		<label class="tab">Name:</label>
			<input  type="text" name="tenant_name" value="<%=@property.tenant_name%>">
		<labe class="tab">Email:</labe>
			<input type="emai." name="tenant_email" value="<%=@property.tenant_email%>">
		<label class="tab">Phone #:</label>
			<input type="text" name="tenant_phone_number" value="<%=@property.tenant_phone_number%>">
	<br><br>
	<label>Security Deposit: </label>
		<input type="number" name="security_deposit" value="<%=@property.security_deposit%>">
	<label>Rent:</label>
		<input type="number" name="rent" value="<%=@property.rent%>">
	<br><br>
	<label>Lease:</label><br> 
		<label class="tab">Starting Date: </label>
		<input type="text" name="lease_starting_date" value="<%=@property.lease_starting_date%>">
		<label class="tab">Ending Date: </label>
		<input type="text" name="lease_ending_date" value="<%=@property.lease_ending_date%>">
	<br><br>
	<label>Managed by: </label>
		<input type="checkbox" name="user_name" valus="<%=@pm.email%>" checked><%=@pm.user_name%>
	<br><br><br>
	<input type="submit" value="Update">
</form>


